{% extends 'layout.html' %}

{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'colors_bt5.css' %}">
    
    <div class="container">
        <section class="vh-100">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-6 text-black">
                  <div class="px-5 ms-xl-4">
                    <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>
                    <span class="h1 fw-bold mb-0">CACTUS.S</span>
                  </div>
                  <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-3 pt-5 pt-xl-0 mt-xl-n5">
                    <form style="width: 23rem;" method="post" novalidate>
                          {% csrf_token %}
                          {{ form|crispy }}
            
                        <div class="d-grid pt-1 mb-4">
                            <button class="btn btn-info btn-lg btn-block" type="submit">Let's go</button>
                        </div>
                        <p class="text-center">Already have an account <a href="/login" class="link-danger">Log in</a></p>
                      </form>
                  </div>
          
                </div>
                <div class="col-sm-6 px-0 d-none d-sm-block">
                  <img src="{% static 'media/login1.png' %}" alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: right;">
                </div>
              </div>
            </div>
          </section>
    </div>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/bootstrap.bundle.js"></script>
</body>
</html>

{% endblock %}